<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom ">
        <h1 class="h2">داشبورد</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group ml-2">
            <a type="button" class="btn btn-primary btn-lg" href="/admin/courses/create">پست جدید</a>
            </div>

        </div>
    <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group ml-2">
            <a type="button" class="btn btn-primary btn-lg" href="/admin/courses">پستها</a>
            </div>

        </div>
        </div>



